<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <h4 class="bd-footer-title">
          <strong xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title"
            rel="dct:type">Bulma</strong> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://jgthms.com"
            property="cc:attributionName" rel="cc:attributionURL" target="_blank">Jeremy Thomas</a>.
        </h4>

        <div class="bd-footer-iframe">
          <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"
            class="twitter-follow-button twitter-follow-button-rendered"
            style="position: static; visibility: visible; width: 234px; height: 28px;" title="Twitter Follow Button"
            src="https://platform.twitter.com/widgets/follow_button.2d7d9a6d04538bf11c7b23641e75738c.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=jgthms&amp;show_count=true&amp;show_screen_name=true&amp;size=l&amp;time=1600892721784"
            data-screen-name="jgthms"></iframe>
        </div>

        <div class="bd-footer-tsp">
          Source code licensed <a href="https://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>.
          <br>
          Website content licensed <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
            target="_blank">CC BY-NC-SA 4.0</a>
        </div>

      </div>
      <div class="column is-4">
        <h4 class="bd-footer-title">
          <strong>Contribute</strong> on GitHub
        </h4>

        <div class="bd-footer-iframe is-github">
          <iframe
            src="https://ghbtns.com/github-btn.html?user=jgthms&amp;repo=bulma&amp;type=star&amp;count=true&amp;size=large"
            allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          <iframe src="https://ghbtns.com/github-btn.html?user=jgthms&amp;type=follow&amp;count=true&amp;size=large"
            frameborder="0" scrolling="0" width="170px" height="30px"></iframe>
        </div>

      </div>
      <div class="column is-4">
        {% comment %} <h4 class="bd-footer-title">
          <strong>Share</strong> on social media
        </h4>

        <div class="bd-footer-iframe">
          <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"
            class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
            style="position: static; visibility: visible; width: 76px; height: 28px;" title="Twitter Tweet Button"
            src="https://platform.twitter.com/widgets/tweet_button.2d7d9a6d04538bf11c7b23641e75738c.en.html#dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;original_referer=https%3A%2F%2Fbulma.io%2F&amp;related=jgthms%3ACreator%20of%20Bulma&amp;size=l&amp;text=Bulma%3A%20Free%2C%20open%20source%2C%20and%20modern%20CSS%20framework%20based%20on%20Flexbox&amp;time=1600892721787&amp;type=share&amp;url=https%3A%2F%2Fbulma.io&amp;via=jgthms"
            data-url="https://bulma.io"></iframe>

          <div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/bulmaio" data-layout="button"
            data-action="like" data-size="large" data-show-faces="false" data-share="true" fb-xfbml-state="rendered"
            fb-iframe-plugin-query="action=like&amp;app_id=310296819307942&amp;container_width=0&amp;href=https%3A%2F%2Fwww.facebook.com%2Fbulmaio&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=large">
            <span style="vertical-align: bottom; width: 130px; height: 28px;"><iframe name="f29b19e401dcbb"
                width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin"
                title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true"
                scrolling="no" allow="encrypted-media"
                src="https://www.facebook.com/v2.8/plugins/like.php?action=like&amp;app_id=310296819307942&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2fefdbda7ba88c%26domain%3Dbulma.io%26origin%3Dhttps%253A%252F%252Fbulma.io%252Ff2482aa6aee564%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.facebook.com%2Fbulmaio&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=large"
                style="border: none; visibility: visible; width: 130px; height: 28px;" class=""></iframe></span></div>
        </div> {% endcomment %}

      </div>
    </div>




    <div class="bd-footer-stars">
      <a class="bd-footer-star bd-is-bootstrap" href="https://bulma.io/alternative-to-bootstrap">
        <header class="bd-footer-star-header">
          <h4 class="bd-footer-title">
            <strong>Coming from Bootstrap</strong>
          </h4>
          <p class="bd-footer-subtitle">
            An alternative to Bootstrap
          </p>
        </header>

        <figure class="bd-footer-star-figure">
          <img src="https://bulma.io/images/footer/bootstrap-to-bulma.png" width="160" height="48">
        </figure>
      </a>

      <a class="bd-footer-star bd-is-expo" href="https://bulma.io/expo">
        <header class="bd-footer-star-header">
          <h4 class="bd-footer-title">
            <span class="icon has-text-star">
              <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas"
                data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                <path fill="currentColor"
                  d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                </path>
              </svg><!-- <i class="fas fa-star"></i> -->
            </span>
            <strong>Expo</strong>
          </h4>
          <p class="bd-footer-subtitle">
            See what you can build with Bulma
          </p>
        </header>
      </a>

      <a class="bd-footer-star bd-is-love" href="https://bulma.io/love">
        <header class="bd-footer-star-header">
          <h4 class="bd-footer-title">
            <span class="icon has-text-danger">
              <svg class="svg-inline--fa fa-heart fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas"
                data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                <path fill="currentColor"
                  d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                </path>
              </svg><!-- <i class="fas fa-heart"></i> -->
            </span>
            <strong>Love</strong>
          </h4>
          <p class="bd-footer-subtitle">
            Fans of Bulma
          </p>
        </header>
      </a>
    </div>





    <div class="bd-footer-links">
      <div class="columns">
        <div class="column is-3">
          <p class="bd-footer-link-title">
            <a href="https://bulma.io">Home</a>
          </p>

          <p class="bd-footer-link-title">
            <a href="https://bulma.io/blog">Blog</a>
          </p>


          <p class="bd-footer-link">
            <a href="/2019/10/15/light-dark-colors/">
              Light/Dark colors, better look, larger controls
            </a>
          </p>

          <p class="bd-footer-link">
            <a href="/2018/06/20/automatic-variables-documentation/">
              Automatic variables docs
            </a>
          </p>

          <p class="bd-footer-link">
            <a href="/2018/04/14/migration-to-v070/">
              Migrating to v0.7.0
            </a>
          </p>

          <p class="bd-footer-link">
            <a href="/2018/04/13/website-redesign/">
              Website redesign
            </a>
          </p>


          <p class="bd-footer-link bd-is-more">
            <a href="https://bulma.io/blog">
              View all posts
            </a>
          </p>
        </div>

        <div class="column is-3">
          <p class="bd-footer-link-title">
            <a href="https://bulma.io/documentation">Documentation</a>
          </p>





          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/overview">
              Overview
            </a>
          </p>




          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/customize">
              Customize
            </a>
          </p>




          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/helpers">
              Helpers
            </a>
          </p>




          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/columns">
              Columns
            </a>
          </p>




          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/layout">
              Layout
            </a>
          </p>




          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/form">
              Form
            </a>
          </p>




          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/elements">
              Elements
            </a>
          </p>




          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/components">
              Components
            </a>
          </p>

        </div>

        <div class="column is-6">
          <p class="bd-footer-link-title">
            <a href="https://bulma.io/more">More</a>
          </p>


          <p class="bd-footer-link bd-has-subtitle">
            <a href="https://bulma.io/expo">
              <span class="bd-footer-link-icon has-text-star">
                <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas"
                  data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                  <path fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                  </path>
                </svg><!-- <i class="fas fa-star"></i> -->
              </span>
              <strong>
                Expo
              </strong>
              <em>
                Official Bulma showcase
              </em>
            </a>
          </p>



          <p class="bd-footer-link bd-has-subtitle">
            <a href="https://bulma.io/love">
              <span class="bd-footer-link-icon has-text-danger">
                <svg class="svg-inline--fa fa-heart fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas"
                  data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                  data-fa-i2svg="">
                  <path fill="currentColor"
                    d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                  </path>
                </svg><!-- <i class="fas fa-heart"></i> -->
              </span>
              <strong>
                Love
              </strong>
              <em>
                Fans of Bulma around the world
              </em>
            </a>
          </p>




          <p class="bd-footer-link bd-has-subtitle">
            <a href="https://bulma.io/backers">
              <span class="bd-footer-link-icon has-text-patreon">
                <svg class="svg-inline--fa fa-patreon fa-w-16" aria-hidden="true" focusable="false" data-prefix="fab"
                  data-icon="patreon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                  data-fa-i2svg="">
                  <path fill="currentColor"
                    d="M512 194.8c0 101.3-82.4 183.8-183.8 183.8-101.7 0-184.4-82.4-184.4-183.8 0-101.6 82.7-184.3 184.4-184.3C429.6 10.5 512 93.2 512 194.8zM0 501.5h90v-491H0v491z">
                  </path>
                </svg><!-- <i class="fab fa-patreon"></i> -->
              </span>
              <strong>
                Patreon and GitHub Backers
              </strong>
              <em>
                Everyone who is supporting Bulma
              </em>
            </a>
          </p>



          <p class="bd-footer-link bd-has-subtitle">
            <a href="https://bulma.io/blog">
              <span class="bd-footer-link-icon has-text-orange">
                <svg class="svg-inline--fa fa-rss fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas"
                  data-icon="rss" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                  <path fill="currentColor"
                    d="M128.081 415.959c0 35.369-28.672 64.041-64.041 64.041S0 451.328 0 415.959s28.672-64.041 64.041-64.041 64.04 28.673 64.04 64.041zm175.66 47.25c-8.354-154.6-132.185-278.587-286.95-286.95C7.656 175.765 0 183.105 0 192.253v48.069c0 8.415 6.49 15.472 14.887 16.018 111.832 7.284 201.473 96.702 208.772 208.772.547 8.397 7.604 14.887 16.018 14.887h48.069c9.149.001 16.489-7.655 15.995-16.79zm144.249.288C439.596 229.677 251.465 40.445 16.503 32.01 7.473 31.686 0 38.981 0 48.016v48.068c0 8.625 6.835 15.645 15.453 15.999 191.179 7.839 344.627 161.316 352.465 352.465.353 8.618 7.373 15.453 15.999 15.453h48.068c9.034-.001 16.329-7.474 16.005-16.504z">
                  </path>
                </svg><!-- <i class="fas fa-rss"></i> -->
              </span>
              <strong>
                Blog
              </strong>
              <em>
                Stay updated with new features
              </em>
            </a>
          </p>



          <p class="bd-footer-link bd-has-subtitle">
            <a href="https://bulma.io/made-with-bulma">
              <span class="bd-footer-link-icon has-text-primary">
                <svg class="svg-inline--fa fa-certificate fa-w-16" aria-hidden="true" focusable="false"
                  data-prefix="fas" data-icon="certificate" role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512" data-fa-i2svg="">
                  <path fill="currentColor"
                    d="M458.622 255.92l45.985-45.005c13.708-12.977 7.316-36.039-10.664-40.339l-62.65-15.99 17.661-62.015c4.991-17.838-11.829-34.663-29.661-29.671l-61.994 17.667-15.984-62.671C337.085.197 313.765-6.276 300.99 7.228L256 53.57 211.011 7.229c-12.63-13.351-36.047-7.234-40.325 10.668l-15.984 62.671-61.995-17.667C74.87 57.907 58.056 74.738 63.046 92.572l17.661 62.015-62.65 15.99C.069 174.878-6.31 197.944 7.392 210.915l45.985 45.005-45.985 45.004c-13.708 12.977-7.316 36.039 10.664 40.339l62.65 15.99-17.661 62.015c-4.991 17.838 11.829 34.663 29.661 29.671l61.994-17.667 15.984 62.671c4.439 18.575 27.696 24.018 40.325 10.668L256 458.61l44.989 46.001c12.5 13.488 35.987 7.486 40.325-10.668l15.984-62.671 61.994 17.667c17.836 4.994 34.651-11.837 29.661-29.671l-17.661-62.015 62.65-15.99c17.987-4.302 24.366-27.367 10.664-40.339l-45.984-45.004z">
                  </path>
                </svg><!-- <i class="fas fa-certificate"></i> -->
              </span>
              <strong>
                Made with Bulma
              </strong>
              <em>
                The official community badge
              </em>
            </a>
          </p>



          <p class="bd-footer-link bd-has-subtitle">
            <a href="https://bulma.io/alternative-to-bootstrap">
              <span class="bd-footer-link-icon has-text-bootstrap">
                <svg class="svg-inline--fa fa-exchange-alt fa-w-16" aria-hidden="true" focusable="false"
                  data-prefix="fas" data-icon="exchange-alt" role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512" data-fa-i2svg="">
                  <path fill="currentColor"
                    d="M0 168v-16c0-13.255 10.745-24 24-24h360V80c0-21.367 25.899-32.042 40.971-16.971l80 80c9.372 9.373 9.372 24.569 0 33.941l-80 80C409.956 271.982 384 261.456 384 240v-48H24c-13.255 0-24-10.745-24-24zm488 152H128v-48c0-21.314-25.862-32.08-40.971-16.971l-80 80c-9.372 9.373-9.372 24.569 0 33.941l80 80C102.057 463.997 128 453.437 128 432v-48h360c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24z">
                  </path>
                </svg><!-- <i class="fas fa-exchange-alt"></i> -->
              </span>
              <strong>
                Coming from Bootstrap
              </strong>
              <em>
                See how Bulma is an alternative to Bootstrap
              </em>
            </a>
          </p>



          <p class="bd-footer-link bd-has-subtitle">
            <a href="https://bulma.io/extensions">
              <span class="bd-footer-link-icon has-text-orange">
                <svg class="svg-inline--fa fa-plug fa-w-12" aria-hidden="true" focusable="false" data-prefix="fas"
                  data-icon="plug" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg="">
                  <path fill="currentColor"
                    d="M320,32a32,32,0,0,0-64,0v96h64Zm48,128H16A16,16,0,0,0,0,176v32a16,16,0,0,0,16,16H32v32A160.07,160.07,0,0,0,160,412.8V512h64V412.8A160.07,160.07,0,0,0,352,256V224h16a16,16,0,0,0,16-16V176A16,16,0,0,0,368,160ZM128,32a32,32,0,0,0-64,0v96h64Z">
                  </path>
                </svg><!-- <i class="fas fa-plug"></i> -->
              </span>
              <strong>
                Bulma extensions
              </strong>
              <em>
                Side projects to enhance Bulma
              </em>
            </a>
          </p>



          <p class="bd-footer-link bd-has-subtitle">
            <a href="https://bulma.io/bulma-start">
              <span class="bd-footer-link-icon has-text-success">
                <svg class="svg-inline--fa fa-rocket fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas"
                  data-icon="rocket" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                  data-fa-i2svg="">
                  <path fill="currentColor"
                    d="M505.12019,19.09375c-1.18945-5.53125-6.65819-11-12.207-12.1875C460.716,0,435.507,0,410.40747,0,307.17523,0,245.26909,55.20312,199.05238,128H94.83772c-16.34763.01562-35.55658,11.875-42.88664,26.48438L2.51562,253.29688A28.4,28.4,0,0,0,0,264a24.00867,24.00867,0,0,0,24.00582,24H127.81618l-22.47457,22.46875c-11.36521,11.36133-12.99607,32.25781,0,45.25L156.24582,406.625c11.15623,11.1875,32.15619,13.15625,45.27726,0l22.47457-22.46875V488a24.00867,24.00867,0,0,0,24.00581,24,28.55934,28.55934,0,0,0,10.707-2.51562l98.72834-49.39063c14.62888-7.29687,26.50776-26.5,26.50776-42.85937V312.79688c72.59753-46.3125,128.03493-108.40626,128.03493-211.09376C512.07526,76.5,512.07526,51.29688,505.12019,19.09375ZM384.04033,168A40,40,0,1,1,424.05,128,40.02322,40.02322,0,0,1,384.04033,168Z">
                  </path>
                </svg><!-- <i class="fas fa-rocket"></i> -->
              </span>
              <strong>
                Bulma start
              </strong>
              <em>
                A tiny npm package to get started
              </em>
            </a>
          </p>


        </div>
      </div>
    </div>

  </div>
</footer>