{% load imagekit %}
{% load static %}
<nav class="navbar is-transparent is-active s-fixed-top is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href={% url 'home'%}>
      {% comment %} <h1> <strong> Amiyo </strong> </h1> {% endcomment %}
      <img src="{% static 'logo.png' %}" width="112" height="28">
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start px-4  buttons mt-3">
     
     {% if user.is_authenticated %}
        <a class="button is-inverted is-link mt-3 " href=#>
     {% else %}
        <a class="button is-inverted is-link mt-3 " href=#>
     {% endif %}
        <span class="icon ">
          <i class="fas fa-compass"></i>
        </span>
        <div class='p-2 '>
          <strong> More Projects Added Soon </strong>
        </div>
      </a>
      {% comment %} <a class="button is-inverted is-link mt-3 " href="#">
        <span class="icon ">
          <i class="fas fa-users"></i>
        </span>
        <div class='p-2'>
          <strong>About </strong>
        </div>
      </a> {% endcomment %}
      

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">

          <a class="button is-danger is-mobile" href="https://shreshtharora.com">
            <span class="icon has-text-warning">
              <i class="fas fa-star"></i>
            </span>
            <div class='p-2'>
              <strong> shreshtharora.com </strong>
            </div>
          </a>
          <br>
          {% if not user.is_authenticated %}
          <a class="button is-info is-mobile" href="{% url 'register' %}">
            <span class="icon has-text-white">
              <i class="fas fa-fingerprint"></i>
            </span>
            <div class='p-2'>
              <strong>Register </strong>
            </div>
          </a>

          {% endif %}
          <br>
          <a class="button is-warning is-mobile" href="{% url 'login' %}">
            {% if user.is_authenticated %}
            <span class="icon has-text-danger">
              <i class="fas fa-tachometer-alt"></i>
            </span>
            <div class='p-2 '>
              <strong> Open Dashboard </strong>
              {% else %}
              <span class="icon has-text-danger">
                <i class="fas fa-key"></i>
              </span>
              <div class='p-2 '>
                <strong> Log in </strong>
                {% endif %}
              </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>



<script>
  $(document).ready(function () {

    $(".navbar-burger").click(function () {

      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

    });
  });
</script>

<style>

</style>