{% extends "unlogged/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
 
 <section class="section">
    <div class="container">
      <h1 class="title">
        {{ website_name }}
      </h1>
      <p class="subtitle">
       Welcome to {{ website_name }} made by Shreshth Arora 101803503 for UCS575 Subject

      </p>

    </div>
  </section>
  <section class="section">
   <div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Make an Account</p>
          <p class="subtitle">get started with the first ML model that is emotion Detection, it has been built keeping in mind the requirements of the course Building Innovative Systems course.</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Project 2 </p>
          <p class="subtitle">Project 2 is Image Processing on Blockckhchain and NFTs, SVG is created using text mechanisms and on the proecessing happens on Ethereum Virtual Machines on Rinkeby Network</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Project 1: Emotion Detection System ML Model</p>
          <p class="subtitle">This is CNN based ML Model designed for segmenting photos into 7 primary emotions</p>
          <figure class="image is-4by3">
            <img src="{% static 'images/index.png' %}">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Project 3 </p>
        <p class="subtitle">Here is Hosted Project3</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">ML Library's Long Term Goals </p>
        <p class="subtitle">the goal is to built a ML Library to mkae it easier for anyone to deploy their own ML Models with quick useriterfaces ike netlify </p>
        <div class="content">
          <figure class="image is-4by3">
            <img src="{% static 'images/index_com.png' %}">
          </figure>
        </div>
      </div>
    </article>
  </div>
</div>
  </section>
  

{% endblock content %}