{% extends "dashboard/base_foc.html" %}
{% load crispy_forms_tags %}
{% load bulma_tags %}
{% block content %}

<section class="section">
        <div class="columns is-centered">
                <div class="column is-half ">
                        <div class=" box  container has-text-centered">
                                <h1 class="title">
                                        Password Reset
                                        <br>
                                        Email Sent <i class="fas fa-inbox"></i>
                                </h1>
                                <br>
                                <p class="subtitle">
                                        We’ve emailed you instructions for setting your password, if an account exists
                                        with the email
                                        you entered. You should receive them shortly.
                                </p>
                                <p class="subtitle">
                                        If you don’t receive an email, please make sure you’ve entered the address you
                                        registered with,
                                        and check your spam folder.
                                </p>
                        </div>
                        <div class=" py-4 ">
                                <a class=" button has-text-centered is-danger is-fullwidth " href="{% url 'home' %}">
                                        <strong>
                                                <span class="icon mx-1 ">
                                                        <i class="is-small fas fa-inbox"></i>
                                                </span>
                                                Go Back to Home Page
                                        </strong>
                                </a>
                        </div>

                        <div class="border-top py-4 ">
                                <a class=" button has-text-centered is-link is-fullwidth" href="https://gmail.com">
                                        <strong>
                                                <span class="icon mx-1 ">
                                                        <i class="is-small fas fa-inbox"></i>
                                                </span>
                                                Open Gmail Inbox?
                                        </strong>
                                </a>
                        </div>
                        <div class=" py-4 ">
                                <a class=" button has-text-centered is-info is-fullwidth " href="https://icloud.com">
                                        <strong>
                                                <span class="icon mx-1 ">
                                                        <i class="is-small fas fa-inbox"></i>
                                                </span>
                                                Open Icloud Inbox?
                                        </strong>
                                </a>
                        </div>
                        <div class=" py-4 ">
                                <a class=" button has-text-centered is-warning is-fullwidth "
                                        href="https://outlook.com">
                                        <strong>
                                                <span class="icon mx-1 ">
                                                        <i class="is-small fas fa-inbox"></i>
                                                </span>
                                                Open Outlook Inbox ?
                                        </strong>
                                </a>
                        </div>

                </div>
        </div>

</section>

{% endblock content %}