{% extends "dashboard/base_foc.html" %}
{% load crispy_forms_tags %}
{% load bulma_tags %}
{% block content %}

<section class="section">
        <div class="columns is-centered">
                <div class="column is-half ">
                        <div class=" box  container has-text-centered">
                                <h1 class="title">
                                        Password Reset 
                                        <br>
                                        Complete <i class="fas fa-check-circle"></i>
                                </h1>
                                <br>
                                <p class="subtitle">
                                       Your Password has been Changed Wohoo !
                                       Now go ahead and you can easily Login !
                                </p>
                               
                        </div>
                        <div class=" py-4 ">
                                <a class=" button has-text-centered is-info is-fullwidth " href="{% url 'login' %}">
                                        <strong>
                                                <span class="icon mx-1 ">
                                                        <i class="is-small fas fa-fingerprint"></i>
                                                </span>
                                                Login
                                        </strong>
                                </a>
                        </div>
                </div>
        </div>

</section>

{% endblock content %}