<footer class="footer">
  <div class="container">
  <div class="columns">
      <div class="column is-6">

        <div class="content has-text-left">
   
  </div> 
    <div class="content has-text-left">
    {% comment %}
    <a class="button is-small is-facebook">
      <span class="icon">
        <i class="fab fa-facebook fa-lg"></i>
      </span>
    </a>
    <a class="button is-small is-instagram">
      <span class="icon">
        <i class="fab fa-instagram fa-lg"></i>
      </span>
    </a>
    <a class="button is-small is-github">
      <span class="icon">
        <i class="fab fa-github fa-lg"></i>
      </span>
    </a>
    <a class="button is-small is-microsoft">
      <span class="icon">
        <i class="fab fa-discord fa-lg"></i>
      </span>
    </a>
    <a class="button is-small is-info">
      <span class="icon">
        <i class="fab fa-telegram fa-lg"></i>
      </span>
    </a>
    {% endcomment %}

    
  </div> 
      </div>

      <div class="column is-4">
        <h4 class="bd-footer-title">
          <strong >More </strong> 
        </h4>
        <div class="bd-footer-tsp">
          <a href="#" target="_blank"> Terms of Service </a>
        </div>
        <div class="bd-footer-tsp">
          <a href="#" target="_blank"> Privacy Policy </a>
        </div>
      </div>
      <div class="column is-4">
        <h4 class="bd-footer-title">
          <strong >Support</strong> 
        </h4>
        <div class="bd-footer-tsp">
          <a href="mailto:arorashreshth1@gmail.com" target="_blank"> Contact Us </a>
        </div>
        <div class="bd-footer-tsp">
          <a href="#" target="_blank"> Help </a>
        </div>
        
        <div>
        <div class="bd-footer-tsp">
          <a href="#" target="_blank">Github Link </a>
        </div>
        </div>
      </div>
      
  </div>
    <br>
</div>


 
  <div class="container">
    <div class="is-divider" ></div>
    <div class="columns">
      <div class="column is-6 has-text-centered">
            <h2 class="e">
            <strong>{{website_name}}</strong> a <a href="https://shreshtharora.com"> Shreshth Arora </a> Production .
            </h2>
        </div>
        <div class="column is-6 has-text-centered">
            <h4 class="bd-footer-title">
                <small>Made with  <a href="https://bulma.io" target="_blank"> Bulma CSS </a>,  <a href="https://djangoproject.com" target="_blank"> Django</a> and the amazing libraries which silently power software on most machines in the world and just get the job done. 
            </h4>
        </div>
      </div>
  </div>
      
</footer>



<style type="text/css" media="screen">
      footer { 
            position: display; 
            padding: 10px 10px 0px 10px; 
            bottom: 0; 
            width: 100%; 
            /* Height of the footer*/   
            background: grey; 
        } 
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css">
